html, body {
    margin: 0px;
}

body {
    background: url(./images/background.jpg);
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}

.box {
    width: 630px;
    margin: 100px auto 0;

    #gobang {
        border-radius: 4px;
        background: linear-gradient(#EAC8A0, #cda562);
    }

    &_operation {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;

        a {
            background: url(./images/btn-bg-box.png);
            margin: 0px 5px;
            height: 32px;
            line-height: 32px;
            width: 118px;
            border: none;
            cursor: pointer;
            display: block;
            color: #7E410A;
            text-align: center;
            font-size: 14px;
        }
    }
}
