html, body {
    margin: 0px;
}

body {
    background: url(./images/background.jpg);
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}

.box {
    width: 630px;
    margin: 35px auto 0;
    display: none;

    #gobang {
        border-radius: 4px;
        background: linear-gradient(#EAC8A0, #cda562);
    }

    &_operation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 12px 40px 0 40px;

        a {
            background: url(./images/btn-bg-box.png);
            margin: 0px 5px;
            height: 32px;
            line-height: 32px;
            width: 118px;
            border: none;
            cursor: pointer;
            display: block;
            color: #7E410A;
            text-align: center;
            font-size: 14px;
        }
    }
}

.menu {
    width: 308px;
    height: 200px;
    padding: 100px 80px 0;
    margin: 110px auto 0;
    display: flex;
    flex-wrap: wrap;
    background: url(./images/menu-bg.png);

    &_info {
        color: #815332;
        padding: 3px 0 3px 0px;
        text-align: left;
        width: 100px;
        margin: 40px 0 5px 30px;
        height: 75px
    }

    a.menu_play {
        width: 146px;
        height: 44px;
        line-height: 36px;
        text-align: center;
        background: url(./images/btn-bg.png) center 0 no-repeat;
        display: block;
        margin: 0 auto 10px;
        font-size: 14px;
        color: #815332;
        cursor: pointer;
        clear: both;
    }
}